body{
    background: -webkit-linear-gradient(right, #FFFFDF, #D2E9FF);
    background: -moz-linear-gradient(right, #FFFFDF, #D2E9FF);
    background: -o-linear-gradient(right, #FFFFDF, #D2E9FF);
    background: linear-gradient(to left, #FFFFDF, #D2E9FF);
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    }
.introduction_1{
   color: #6C6C6C;
    text-align:left;
}
.h4{
    font-style:italic;
}

.text {
    width: 500px;
    text-align: justify;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid brown;
  }
 
  .source {
    text-align: right;
    font-style: italic;
  }
     
    